<h1>Chips à la main :</h1>
  
  <div id="wrapper">
  <p-multiSelect  [options]="specialties"
                  [(ngModel)]="selectedSpecialties"
                  optionLabel="libelle"
                  [filter]="false"
                  [displaySelectedLabel]="false"
                  defaultLabel="Choisissez une spécificité"
                  [style]="{'white-space': 'nowrap'}">
  </p-multiSelect>

  <div id="chips">
    <ng-container *ngFor="let spe of selectedSpecialties; let i = index">
    <span class="chip" *ngIf="i < NOMBRE_CHIPS_AFFICHEES">{{spe.libelle}}</span>
    <span class="chip tooltip" *ngIf="i===NOMBRE_CHIPS_AFFICHEES">+{{selectedSpecialties.length - NOMBRE_CHIPS_AFFICHEES}}
      <span class="tooltiptext">{{getOverflowSpecialites()}}</span>
    </span>
    </ng-container>
  </div>

 </div>