#wrapper {
  display: flex;
  //border: 1px solid red;
  padding: 5px;

  #chips {
    // border: 1px solid green;
    overflow: hidden;
    max-width: 100%;
    width: 100%;
    white-space: nowrap;
    margin-left: 20px;
    align-items: center;

    .chip {
      display: inline-block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
      max-width: 25%;
      color: white;
      background-color: rgb(161, 79, 236);
      padding: 2px 10px;
      margin: 0 5px;
      border-radius: 999px;
      position: relative;

      &.tooltip {
        overflow: visible;

        .tooltiptext {
          visibility: hidden;
          background-color: black;
          color: #fff;
          text-align: center;
          border-radius: 6px;
          padding: 5px 0;

          /* Position the tooltip */
          z-index: 1;
          position: absolute;
          bottom: 0;
        }

        &:hover .tooltiptext {
          visibility: visible;
        }
      }
    }
  }

}